
# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [391]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [392]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [393]:
names = [re.findall("^\s+(.+)\n",p.text)  for p in soup.select("h1.h3.lh-condensed a, p.f4.text-normal.mb-1")]
names2 = [i[0]+" ("+j[0]+")" for i,j in zip(names[::2], names[1::2])]
names2[0:3]

['hackerman (aeneasr)',
 'PySimpleGUI (PySimpleGUI)',
 'Dotan Simha (dotansimha)']

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
#your code

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [394]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [395]:
#your code
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [396]:
repositorios = [''.join(re.findall("/\s+(.+)\n",x.getText())) for x in soup.select('h1 a')]
repositorios[0:3]

['jina', 'netbox', 'binance-trading-bot-new-coins']

#### Display all the image links from Walt Disney wikipedia page

In [397]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
response = requests.get(url)
soup = BeautifulSoup(response.content)
soup.select("a img")
images = [("https:"+x.get("src"))  for x in soup.select("a img")]
images[0:3]

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [398]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [399]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [400]:
getpage = soup.select("ul li a")
getlink = [x.get('href') for x in getpage]
new_url = 'https://en.wikipedia.org'+ getlink[0]

In [401]:
response = requests.get(new_url)
soup = BeautifulSoup(response.content)

In [402]:
getpage = soup.select("ul li a")
getlink = [x.get('href') for x in getpage if 'http' in str(x.get('href'))]
getlink[0:3]

['http://reptile-database.reptarium.cz/search.php?submit=Search&taxon=Pythonidae',
 'http://reptile-database.reptarium.cz/',
 'http://www.answers.com/topic/pythons-pythonidae-biological-family']

#### Number of Titles that have changed in the United States Code since its last release point

In [404]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [405]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)
titles = soup.find_all(
    name="div",
    class_="usctitlechanged"
)

names = [title.text for title in titles]

release_point = [re.findall("-\s(.+)\s٭", str(name)) for name in names]

len(release_point)

flat_release_point = []
for item in release_point:
    # appending elements to the flat_list
    flat_release_point += item
len(release_point)

2

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [406]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [411]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [417]:
tbody = soup.find("tbody")

trs = tbody.find_all("tr")

In [418]:
def get_row_info(row):
    info = dict()
    
    cols = row.find_all("td")
    
    info["date"] = re.findall("\d\d\d\d-\d\d\-\d\d", str(cols[3].text))[0]
    info["Latitude"] = (re.match("\d+\.\d\d", cols[4].text))[0]
    info["Longitude"] = re.match("\d+\.\d\d", cols[6].text)[0]
    info["depth"] = int(cols[8].text)
    info["Maginitude"] = (cols[10].text)
      
    return info

In [419]:
pd.DataFrame([get_row_info(row) for row in trs]).head(20)

          date Latitude Longitude  depth Maginitude
0   2021-09-01    31.85    179.70    390        4.1
1   2021-09-01    19.26    155.43     30        2.1
2   2021-09-01    40.87    114.92      5        2.8
3   2021-09-01    39.43    110.32     -1        2.3
4   2021-09-01    38.70     22.38      2        3.1
5   2021-09-01    19.40    155.28      0        2.2
6   2021-09-01     0.16    122.93     21        2.5
7   2021-09-01    19.21    155.42     34        2.0
8   2021-09-01     5.51    125.32     31        3.0
9   2021-09-01    24.33     67.17    186        3.0
10  2021-09-01    37.70    141.77     61        4.6
11  2021-09-01    35.49      3.71     11        2.1
12  2021-09-01    35.63      3.76      2        3.1
13  2021-09-01    38.45    119.51      1        2.3
14  2021-09-01    36.54     98.98      5        2.7
15  2021-09-01    27.73     70.98     20        5.7
16  2021-09-01    35.43      3.68     13        2.1
17  2021-09-01    38.70     38.03      1        2.6
18  2021-09-01    41.54     19.13     58        2.1
19  2021-09-01    36.53     98.99      8        2.0

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
url_hack = 'https://hackevents.co/search/anything/anywhere/anytime'

In [ ]:
#your code
#Im having a security warning of the website

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [420]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [421]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)
languages = soup.find_all(
    name="div",
    class_="central-featured-lang"
)

In [422]:
languages_=  [re.findall("\\n\\n(.+)\\n",x.text) for x in languages ]
languages_

[['English'],
 ['日本語'],
 ['Español'],
 ['Deutsch'],
 ['Русский'],
 ['Français'],
 ['中文'],
 ['Italiano'],
 ['Português'],
 ['Polski']]

In [423]:
languages_q=  [re.findall("(\d).(\d\d\d).(\d\d\d)", (x.select("div small bdi")[0]).text)[0] for x in languages]
languages_q2 = [ x[0] +  x[1] +  x[2] for x in languages_q ] 
languages_q2

['6326000',
 '1275000',
 '1696000',
 '2590000',
 '1734000',
 '2340000',
 '1206000',
 '1701000',
 '1066000',
 '1480000']

In [424]:
for lang, quant in zip(languages_, languages_q2 ):
    print(lang[0], quant)

English 6326000
日本語 1275000
Español 1696000
Deutsch 2590000
Русский 1734000
Français 2340000
中文 1206000
Italiano 1701000
Português 1066000
Polski 1480000

#### A list with the different kind of datasets available in data.gov.uk

In [425]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [426]:
#your code 
response = requests.get(url)
soup = BeautifulSoup(response.content)
[x.text for x in soup.select("h3 a")]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [427]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [428]:
#your code
response = requests.get(url)
soup = BeautifulSoup(response.content)
[ x.text for x in soup.select("tbody tr td a")[:10]]

['Mandarin Chinese',
 'Sino-Tibetan',
 'Sinitic',
 'Spanish',
 'Indo-European',
 'Romance',
 'English',
 'Indo-European',
 'Germanic',
 'Hindi']

### BONUS QUESTIONS

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [429]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [431]:
# your code
response = requests.get(url)
soup = BeautifulSoup(response.content)
tbody = soup.find("tbody")

trs = tbody.find_all("tr")

In [433]:
def get_row_info(row):
    info = dict()
    
    cols = row.find_all("td")
    
    info["name"] = re.findall("\w+",cols[1].text)
    info["Rating"] = re.findall("\d\.\d",cols[2].text)[0]
    info["Released"] = re.findall("\((\d\d\d\d)\)",cols[1].text)[0]

      
    return info

In [434]:
pd.DataFrame([get_row_info(row) for row in trs])

                                         name Rating Released
0                 [1, Cadena, perpetua, 1994]    9.2     1994
1                      [2, El, padrino, 1972]    9.1     1972
2           [3, El, padrino, Parte, II, 1974]    9.0     1974
3            [4, El, caballero, oscuro, 2008]    9.0     2008
4         [5, 12, hombres, sin, piedad, 1957]    8.9     1957
..                                        ...    ...      ...
245                       [246, Rififi, 1955]    8.0     1955
246                     [247, Amanecer, 1927]    8.0     1927
247     [248, Las, noches, de, Cabiria, 1957]    8.0     1957
248                     [249, Ratsasan, 2018]    8.0     2018
249  [250, Zindagi, Na, Milegi, Dobara, 2011]    8.0     2011

[250 rows x 3 columns]